:root {
  font-family: Arial, sans-serif;
  color: #222;
  background: #f5f7fb;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #030305;
}

body {
  overflow-x: hidden;
}